In [1]:
#create a empty list
empty_list = []
empty_list

[]

In [3]:
#create nested list
my_list = [[this,is,list,one],[this,is,list,two]]
my_list

SyntaxError: invalid syntax (122241504.py, line 2)

In [5]:
#create nested list
my_list = [['this','is','list','one'],[1,2,3,4]]
my_list

[['this', 'is', 'list', 'one'], [1, 2, 3, 4]]

In [6]:
#create nested list
my_list = [['this','is','list','one'],['this','is','list','two']]
my_list

[['this', 'is', 'list', 'one'], ['this', 'is', 'list', 'two']]

In [6]:
#indexs help access the list elements
fun = ['Data','friends','test']
#elements of a list begin with 0, so 0 should be data, same with negative begins from left . negative starts with 1
print(fun[-3])

Data

In [7]:
#slice lists lets you look at multiple elements of the list

In [29]:
course = ['Data','friends','test','buddies','lets go','drink']
course[:]

['Data', 'friends', 'test', 'buddies', 'lets go', 'drink']

In [17]:
#colon access multiple items from the back or front of the list

In [21]:
course[2:5:2]

['test', 'lets go']

In [22]:
#first 2 says where to begin. last 2 means take steps of. middle element is where to stop

In [27]:
# can change elements of a list by using equal like:
course[3] = 'time'
course

['Data', 'friends', 'test', 'time', 'lets go', 'drink']

In [30]:
#list methods
#python is an object oriented language. ie something is created as a list, a set of methods is also created that can be applied
#a method is like a function

In [33]:
course1 = ['Data','friends','test','buddies','lets go','drink']
course2 = ['statistics']
#add an item via appending it with an argument
course1.append(course2)
course1

['Data', 'friends', 'test', 'buddies', 'lets go', 'drink', ['statistics']]

In [34]:
#this is operating the function append onto course 2 as an argument. many languages do this via functions
#object oriented makes it easier via applying directly

#these are the methods
append()=adds other items to the list and creates a list of lists
insert()= adding an addition in a certain position 2 arguements, where-1 and what-2 (1,2)
extend() = adding something at the end
del = this is an operator of python, can delete a specific area or more. this is not a method or function, it's an operator
remove() = removes an item like insert. method approach to del
pop() = removes and returns the last item of a list. if you specify an argument it remove that number over
reverse() = flips the order of th elist
lists can be combined via concatenation. basically + symbol, together with. this is not  alist of list

In [37]:
course1+course2

['Data',
 'friends',
 'test',
 'buddies',
 'lets go',
 'drink',
 ['statistics'],
 'statistics']

In [40]:
course1*2

['Data',
 'friends',
 'test',
 'buddies',
 'lets go',
 'drink',
 ['statistics'],
 'Data',
 'friends',
 'test',
 'buddies',
 'lets go',
 'drink',
 ['statistics']]

In [41]:
my_list = [34, "Great", 60.7, True, "Data"]
my_list.insert(2, "Hi")
my_list

[34, 'Great', 'Hi', 60.7, True, 'Data']

In [42]:
my_list = [34, "Great", 60.7, True, "Data", "Great"]
my_list.remove("Great")
my_list

[34, 60.7, True, 'Data', 'Great']

so 1 great only removes singlular context of great

tuples like things in order. they allow for more math operations inside them unlike lists
if only strings lists are okay

In [45]:
#tuples
my_tuple = (123, 2.24, 'fun time')
print(my_tuple)

(123, 2.24, 'fun time')

In [47]:
#a list can be included inside of a tuple. not vice versa
my_tuple[1]

2.24

In [48]:
#changing values of tuple can't normally be done easily. can't change values but can change lists inside a tuple
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

there are functions and methods that can be applied to tuples because they can't be change
they can be counted
indexed, which searches for values
sorted using sorted function

In [51]:
test_tuple = (1,2,3,4,5,6,7,8,9,1,3)
test_tuple.count(3)

2

In [52]:
test_tuple.index(1)

0

In [53]:
sorted(test_tuple)

[1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9]

sorted only works if it has strings or numbers not both
a dictionary is a way to sort a list or arrangement 
allows you to see the order, specified as a key value and the value associated 
{} = dictionary
[] = list
() = tuple
balance is the defined dictionary in my example
balance.get() and balance[] do the same thing

In [54]:
#create a dictionary
balance = {
    "John" : 6347586,
    "Jacob" : 78345783,
    "Jingle" : 7324879
}
print(balance)

{'John': 6347586, 'Jacob': 78345783, 'Jingle': 7324879}

In [56]:
#dictioaries can be accessed by specific values
x = balance["Jacob"]
x

78345783

In [57]:
x = balance.get("Jingle")
x

7324879

values can be reassigned for disctionaries

In [58]:
balance["Jingle"] = 6235479
balance

{'John': 6347586, 'Jacob': 78345783, 'Jingle': 6235479}

In [59]:
print(len(balance))

3

In [60]:
balance["Schmit"] = 6432874
balance

{'John': 6347586, 'Jacob': 78345783, 'Jingle': 6235479, 'Schmit': 6432874}

same values such as pop removes temp and del removes the line
clear is a harsh form, not recommended unless really need. clear does all
balance.clear()
dictionaries can't be converted from one to another can't be done easily. simialr to databases

In [65]:
#they can be copied. .copy() is how you copy
copy_dict = balance.copy()
copy_dict

{'John': 6347586, 'Jacob': 78345783, 'Jingle': 6235479, 'Schmit': 6432874}

In [66]:
copy_dict

{'John': 6347586, 'Jacob': 78345783, 'Jingle': 6235479, 'Schmit': 6432874}

sorting in a dictionary is for the keys not the values and output the order of the keys

a set is something in which sequence doesn't matter. uses {} brackets

In [67]:
#create a set
s = {1,2,3,4,1,2,3,4,1,2,3,4}
print (s)

{1, 2, 3, 4}

only returns distinct elements of the list